In [5]:
import pandas as pd

In [6]:
data = pd.read_csv("Data/GamesDataClean.csv", usecols=["content", "score", "game_name"])
data = data.dropna()
subset = (
    data.groupby("game_name", group_keys=False)
        .apply(lambda x: x.sample(n=min(50, len(x)), random_state=42))
        .reset_index(drop=True)
)
subset

C:\Users\Austin\AppData\Local\Temp\ipykernel_23972\3173297405.py:5: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  .apply(lambda x: x.sample(n=min(50, len(x)), random_state=42))

          game_name                                            content  score
0       8 Ball Pool     fun cannot enjoy constantly try money take fun      1
1       8 Ball Pool  waste download waste time cue repeat cue 45 co...      1
2       8 Ball Pool  fun developer try persuade give money spin etc...      1
3       8 Ball Pool  say one thing probably best world whoever crea...      5
4       8 Ball Pool  problem give 1 star 1 win 2 back back total nu...      1
..              ...                                                ...    ...
995  Shadow Fight 2                                         2 two much      2
996  Shadow Fight 2  nice guy multiplayer know shadow fight 3 4 2 3...      5
997  Shadow Fight 2  bring back lot memory remember well great lot see      5
998  Shadow Fight 2                                 ap many ad pay win      3
999  Shadow Fight 2                    nice energy bar grin face sweat      3

[1000 rows x 3 columns]

In [7]:
subset.value_counts('score')

score
5    417
1    237
4    151
3    106
2     89
Name: count, dtype: int64